
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1,h2 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
  font-weight: 800;
} 

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  padding: .8em 0;
  color: #fffebb;
  border-bottom-color: #fffebb;
}



nav {
    line-height:30px;
    background-color:#ffffff;
    height:300px;
    padding:5px;
    text-align: center;
    padding-top: 40px;
}

section {
    width:350px;
    float:left;
    padding:10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  width: 50%;
  height: 6em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 6em;
  color: #000;
  background: #fff;
}

nav {
  font-size: 1.8em;
  float: right;
} 

nav a { 
  text-decoration: none;
  color: black;
  margin: 1.8em;
  display: inline-block;
}

section {
  background: #222;
  color: #fff;
  overflow: auto;
}

div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  width: 50%;
  display: inline-block;
}


#image {
  display: block;
  margin: 0;
  width: 100%;
  background-color: #ffffff;
  display: block;
}

aside {
  width: 50%;
  float: right;
  background-color: #ffc675;
}

article {
  width: 350px;
  float: left;
  background-color: #e89c6c;
}



#about {
  float: left;
}

#services {
  float: right;
}

footer {
  text-align: center;
  padding: 1em 0;
    clear: both;
}
