
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  background-color: #ffffff;
  margin: 0px;
}

h1,h2 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
  font-weight: 800;
} 

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  padding: .8em 0;
  color: #2EC4B6;
  border-bottom-color: #2EC4B6;
  text-align: center;

}



nav {
    line-height:30px;
    background-color:#ffffff;
    height:50px;
    padding:5px;
    text-align: center;
    padding-top: 40px;
}

nav a { 
  text-decoration: none;
  color: black;
  margin: 1.8em;
  display: inline-block;
}

section {
  background-color: #ffffff;
  padding: 0px;
  border-left: 5px;
  border-right: 5px;
}


#services {
  float: left;
   display: block;
    margin: 0 auto;
}

#icon1 {
 
  float: left;
   display: block;
    margin: 0 auto;
}

#how {
  float: right;
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  width: 50%;
  height: 6em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 6em;
  color: #000;
  background: #fff;
}




div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  width: 50%;
  display: inline-block;
}




img{
    display: block;
    margin: 0 auto;
}




footer {
  text-align: center;
  padding: 1em 0;
    clear: both;
}



@media only screen and (max-width: 800px) {
  nav {
    float: none;
  } 
  nav {
    float: none;
  }
  nav a {
      margin: 0 1.6em .75em 0;
  }
  img {
    width: 320px;
  }
  #about {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}



@media only screen and (max-width: 480px) {
  h1, nav {
    display: block;
    text-align: center;
  }
  h2 {
    font-size: 1em;
    display: inline;
  }
  p, ul {
    margin: 1.8em .6em 0;
  }
  li {
    width: 80%;
    outline-width: .5em;
    padding: .5em;
    height: 2em;
    line-height: 2em;
    
  }
  
    nav a {
      margin: 0 1em 1em;
  }
  img {
    width: 230px;
  }
  
 #services {
   float: none;
   font-size: 1.4em;
    }
  section, div {
    width: 100%;
    padding: .6em;
  }
}
