body {
    background-image: url("/anielizabeth.github.io/unit_3/images/bg4.png");
}

h1 {
    color: #ff5f2e;
    font-size: 150px;
    margin-top: 20px;
}

h2 {
	color: #fff;
}

p {
	color: #fff;
	font-size: 40px;
}

h3 {
	font-size: 50p;
	color: #f4f4f4;
}
